<html>
    <body>
        <h1> Welcome to image_manager </h1>

        <form action='/login' method="post">
            User: <input type="text" name="user"><br>
            Password: <input type="password" name="password"><br>

            <button type="submit"> Run </button>
        </form>
    </body>
</html>
