<html>
    <style>
        .user {
            width: 33%;
            float: left;
        }
        .read_image {
            width: 33%;
            float: left;
        }
        .create_image {
            width: 33%;
            float: left;
        }
        fieldset {
            border: 0;
        }
    </style>

    <body>
        <h1> Welcome <%= user %> </h1>

        <div class="user">
            <h2> Update password</h2>
            <form action='/update_password' method="post">
                Old password: <input type="password" name="old_password"><br>
                New password: <input type="password" name="new_password"><br>
                Retype new password: <input type="password" name="new_password2"><br>
                <button type="submit"> Update </button>
            </form>

            <h2> Delete account </h2>
            <form action='/delete_user' method="post">
                Password: <input type="password" name="password"><br>
                <button type="submit"> Delete </button>
            </form>

            <h2> Log out </h2>
            <form action='/logout' method="post">
                <button type="submit"> Log out </button>
            </form>
        </div>

        <div class="read_image">
            <h2> view images </h2>

            <h2> Public images </h2>
            <form action='/read_public_images'>
                <button type="submit"> Consult </button>
            </form>

            <h2> My images </h2>
            <form action='/read_private_images' method="post">
                <button type="submit"> Consult </button>
            </form>

            <h2> Shared images </h2>
            <form action='/read_shared_images' method="post">
                <button type="submit"> Consult </button>
            </form>
        </div>

        <div class="create_image">
            <h2> Create image </h2>

            <form action='/create_image' method="post">
                Name: <input type="text" name="img_name" placeholder="img1"><br>
                Type: <input type="text" name="img_type" placeholder="jpg"><br>
                Size (MB): <input type="text" name="img_size" placeholder="1"><br>
                Dimension: <input type="text" name="img_dimension" placeholder="512x512"><br>

                Scope: <input type="radio" name="img_private" id="img_private" onclick='radar_handler("private")' checked> Private
                <input type="radio" name="img_public" id="img_public" onclick='radar_handler("public")'> Public <br>

                <button type="submit"> Create </button>
            </form>
        </div>

        <%= msg %>
    </body>

    <script>
        var private_btn = document.getElementById('img_private');
        var public_btn = document.getElementById('img_public');

        function radar_handler(btn){
            if (btn == "private"){
                private_btn.checked = true; 
                public_btn.checked = false; 
            }
            else if (btn == "public"){
                private_btn.checked = false; 
                public_btn.checked = true; 
            }
        }
    </script>
</html>
