<html>
    <body>
        <h1> Register </h1>

        <form action='/registration' method="post">
            Name: <input type="text" name="name"><br>
            User: <input type="text" name="user"><br>
            Password: <input type="password" name="password"><br>
            Retype Password: <input type="password" name="password2"><br>

            <button type="submit"> Register </button>
        </form>
    </body>
</html>
